extends layout

block content
  .container-fluid
    h1 The Punboard – We take puns very seriously.

    p The Punboard is a real-time leaderboard of who the top pun-makers are on Twitter. People get ranked up (punted) or down (punished) based on their Klown Score, which is like a Klout Score, but a lot more relevant.

    p The Punboard is populated when someone replies to a pun they see on Twitter and tweet back with #punboard and #groan (which is good, like a groan of approval) or #sadtrombone (which is a vote of "come on now, you can do better than that").

    p Through a proprietary algorithm written by a PhD in CS (Clown Science), these #groans, #sadtrombones, number of votes and number of puns are put in a circus machine and out poops your Klown Score. The best Klown Score wins.

    p But you've got to stay on top of your game if you want to stay on top of our game.

      .leaderboard
        each person, l in leaderboard
          - var klass = (l === 0 ? 'tweets gold' : 'tweets')
          if (l === 0)
            .number-one
              h1 Numbah One Punnah!

          div(class=klass)
            .tweet
              - var img = person.author.profile_image_url.replace(/_normal\./, '_bigger.')
              .img-container
                img.profile-img(src="#{img}", alt="#{person.author.screen_name}")
                .pun-star.clownscore
                  span #{person.stats.clown}
              .punner 
                h1 @#{person.author.screen_name}
                .puns
                  span Puns: #{person.stats.puns} &nbsp;
                    a(href="#", class="open-modal") (view puns)
              .groans
                span #{person.stats.groan}
                h1 #groan
                  i.fa.fa-thumbs-o-up
              .trombones
                span #{person.stats.trombone}
                h1 #sadtrombone
                  i.fa.fa-thumbs-o-down
              .tweet-text
                each tweets, t in person.puns
                  p #{tweets.tweet.text}
                  a(href="https://www.twitter.com/#{tweets.tweet.user.screen_name}/statuses/#{tweets.tweet.id_str}") source

  audio#faffel(src="assets/faffel.m4a")
  #tweet-modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="tweetDialogLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal")
            span(aria-hidden="true")&times;
            span.sr-only Close
          h4#tweetDialogLabel.modal-title Puns
        .modal-body
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
  script(src="//platform.twitter.com/widgets.js", charset="utf-8")